* {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

body {
    background-color: #33ffaa;
    margin: 100px 100px 200px 300px;
}
.colorprincipal{
    color:#3B50D5;
}
#comentariofinal {
    font-size: 10px;
    color: grey;
}
#logoInst{
    width: 200px;
}